@font-face {
  font-family: font;
  src: url("./ARCADEPI.TTF");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: Font, sans-serifs;
  color: #fff;
  background-color: #fccc13;
}
